# to generate a next-auth secret run the following command in your terminal, type below in your terminal
# node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
AUTH_URL=http://localhost:3000
AUTH_SECRET=

# go to google cloud console and create a new project
# do a quick search and you will figure out how to get the credentials below
# for callback url, use http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_URL=

# for sending transactional emails
RESEND_API_KEY=

# to get local stripe webhook secret run the following command in your terminal
# stripe login
# stripe listen --forward-to localhost:3000/api/webhooks
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# change this to hosted url on vercel settings/env variables
NEXT_PUBLIC_BASE_URL=http://localhost:3000